/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
}

/* ---------------- HEADER ---------------------- */

.logo-index {
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
}

.no-deco {
  text-decoration: none;
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-black {
  color: #1a1a1a;
}

/* ---------------------------- PRINCIPAL PICTURE -------------------- */

.landing {
  height: 1000px;
}
.bg {
  width: 100%;
  position: relative;
  background-size: 100%;
}

.bg-text-principal {
  color: #fff;
  position: absolute;
  font-weight: normal;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.bg-text-second {
  color: #fff;
  position: absolute;
  font-weight: normal;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
}

/* ---------------------------- SECTION 1 -------------------- */

.container {
  margin: 30px;
}

.box {
  width: 300px;
  margin: 20px;
}

.text-center {
  text-align: center;
}
.to-flex1 {
  margin-bottom: 50px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.to-flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.to-flex3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.whats-on {
  font-size: 36px;
  margin-bottom: 15px;
  position: relative;
}

.icon {
  height: 110px;
}

.title-h2 > h2 {
  padding: 7px 4px;
  border-bottom: 4px solid #00b172;
}

.title-icon {
  color: #00b172;
  font-size: 28px;
}
.p-section2 .p-title {
  text-align: center;
  font-size: 28px;
  font-weight: lighter;
}

/* ---------------------------- SECTION 1 -------------------- */

.container2 {
  background-color: #00b172;
  margin: 30px;
}
.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mb-50 {
  margin-bottom: 50px;
}

.m-30 {
  margin: 30px;
}

.flex-col-around-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  text-align: left;
}

.section2-img-l {
  position: relative;
  height: 140px;
}
.section2-img-r {
  width: 300px;
  margin-top: 20px;
}

.underline-white {
  padding: 7px 4px;
  border-bottom: 4px solid #fff;
}

/* ---------------------------------------------------- */

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}
.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}
.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

/* -------------------------- MARGIN ----------------------------- */

.mb-15 {
  margin-bottom: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}

/* ------------------------- PADING ----------------------------- */

.pr-20 {
  padding-right: 20px;
}

/* -------------------------- TEXT ------------------------------ */

.text-white {
  color: #fff;
}
